            <div id="nickWrap">
                <form class="form-inline" action="/createRoom" method="post">
                    <input class="form-control" type = "text" name = "topic" placeholder="Enter the topic" />
                    <input class="form-control" type = "password" name = "password" placeholder="Enter the password" />
                    <button type="submit" class="btn btn-warning btn-lg">Create</button>
                </form>
            </div>