<html>
    <head>

        <title>Real Time Chat</title>

        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="/stylesheets/metisMenu.min.css" rel="stylesheet" />
        <link href="/stylesheets/sb-admin-2.css" rel="stylesheet" />
        <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
    </head>
	<body style="background-image: url(/html5up-big-picture/images/fulls/intro1.jpg);">
           <!-- <div>
                <form class="form-inline" action="/createRoom" method="post">
                    Topic: <input class="form-control" type = "text" name = "topic" placeholder="Enter the topic" />
                    Password: <input class="form-control" type = "password" name = "password" placeholder="Enter the password" />
                    <button type="submit" class="btn btn-default">Create</button>
                </form>
                </div>
                </body>
                </html>-->
         <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Enter Room Details</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline" action="/createRoom" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Enter the topic" type = "text" name="topic"  autofocus>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Password" name="password" type="password" value="Enter the password">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default btn-success" style="background-color:#666054;border-color:#696351">Create</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- jQuery -->
            <script src="/bower_components/jquery/dist/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="/bower_components/js/metisMenu.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="/bower_components/js/sb-admin-2.js"></script>
    </body>
</html>
