            <div id="nickWrap">
                <form class="form-inline" action="/room" method="post">
                    <input class="form-control" type = "text" name = "roomNumber" placeholder="Enter the room number" />
                    <input class="form-control" type = "password" name = "password" placeholder="Enter the password" />
                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                </form>
            </div>