doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="javascripts/jquery.event.drag-2.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="javascripts/draw.js")
    script(src="/javascripts/paper-full.min.js")
  body
    block content