<html>
	<head>
		<title>Real Time Chat</title>
		<script type="text/javascript" src="/html5up-big-picture/js/jquery.min.js"></script>
		<script type="text/javascript" src="/html5up-big-picture/js/jquery.poptrox.min.js"></script>
		<script type="text/javascript" src="/html5up-big-picture/js/jquery.scrolly.min.js"></script>
		<script type="text/javascript" src="/html5up-big-picture/js/jquery.scrollgress.min.js"></script>
		<script type="text/javascript" src="/html5up-big-picture/js/skel.min.js"></script>
		<script type="text/javascript" src="/html5up-big-picture/js/init.js"></script>
		<link rel="stylesheet" href="/html5up-big-picture/css/skel.css" />
		<link rel="stylesheet" href="/html5up-big-picture/css/style.css" />
		<link rel="stylesheet" href="/html5up-big-picture/css/style-wide.css" />
		<link rel="stylesheet" href="/html5up-big-picture/css/style-normal.css" />
	</head>
<!--	<body style="background-image: url(/public/html5up-big-picture/images/fulls/intro1.jpg);">-->
	<body>
			
		<!-- Header -->
			<header id="header">
					
				<!-- Logo -->
					<h1 id="logo">Chatting</h1>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro">Home</a></li>
							<li><a href="#one">About</a></li>
							<!--<li><a href="#two"></a></li>
							<li><a href="#work">Sample</a></li>-->
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>

			</header>
			
		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container small">
					<header>
						<h2><a href="/showLogin">Get Started</a></h2>
					</header>
					<p>Welcome to <strong>Chatting</strong> A Real Time Chat Appliciation<a></a><strong></strong>
					</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>
		
		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>About Us</h2>
					</header>
					<p>Real Time Chat application helps in easy way chatting and real time whiteboard for multiple users. This helps to convey the message easily and without any ambiguity.</p>
				</div>
				<a href="#contact" class="button style2 down anchored">Next</a>
			</section>
		
		<!-- Two -->
			<!--<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Who I Am</h2>
					</header>
					<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum. 
					Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu, 
					id varius justo euismod in. Curabitur egestas consectetur magna.</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section> -->
			
		<!-- Work 
			<section id="work" class="main style3 primary">
				<div class="content container">
					<header>
						<h2>Sample</h2>
						<p>Inputs here</p>
					</header>
					
					 Lightbox Gallery 
						<div class="container small gallery">
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/01.jpg" class="image fit from-left"><img src="images/thumbs/01.jpg" title="II" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/02.jpg" class="image fit from-right"><img src="images/thumbs/02.jpg" title="I" alt="" /></a></div>
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/03.jpg" class="image fit from-left"><img src="images/thumbs/03.jpg" title="III" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/04.jpg" class="image fit from-right"><img src="images/thumbs/04.jpg" title="II" alt="" /></a></div>
							</div>
							<div class="row flush images">
								<div class="6u"><a href="images/fulls/05.jpg" class="image fit from-left"><img src="images/thumbs/05.jpg" title="II" alt="" /></a></div>
								<div class="6u"><a href="images/fulls/06.jpg" class="image fit from-right"><img src="images/thumbs/06.jpg" title="III" alt="" /></a></div>
							</div>
						</div>

				</div>
			</section>
			-->
		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content container">
					<header>
						<h2>Contact Us</h2>
					</header>
					<div class="box container small">
					
					<!-- Contact Form -->
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="email" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
								</div>
								<div class="row">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>

					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="actions">
						<li><a href="https://twitter.com/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a>Real Chat</a></li>
					</ul>
			
			</footer>

	</body>
</html>